/*
 * Top/Navbar Layout
 */
#nav-bar {
    background-color: #00a087;
    padding: 0px 2em;
    color: #e8fdff;
}

#nav-bar .logo{
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

#nav-bar .header{
    vertical-align: middle;
    font-size: 2em;
    padding-left: 10px;
}